@{
    ViewBag.Title = "_SearchFormPartial";
}

<h2>_SearchFormPartial</h2>

@using (Ajax.BeginForm("SearchPost", "Vehicles", FormMethod.Post,
                                new AjaxOptions
                                {
                                    InsertionMode = InsertionMode.Replace,
                                    HttpMethod = "POST",
                                    UpdateTargetId = "search-results",
                                    OnSuccess = "replaceHref"
                                }))

{
    <div>
        Find by registration number: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)

        <input type="submit" value="Search" />
    </div>
}