@{
    ViewBag.Title = "_SearchFormPartial";
}

<h2>Search Vehicle</h2>

@using (Ajax.BeginForm("Search", "Vehicles", FormMethod.Post,
                    new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "POST",
                        UpdateTargetId = "search-results"
                    }))
{
    <div class="searchbox">
        Find by registration number: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)

        <input type="submit" value="Search" />
    </div>
}