@{
    ViewBag.Title = "Vehicles";
}

<h2>Vehicles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="search-form">
    @Html.Action("Search", "Vehicles")
</div>

<div id="search-results">
    @Html.Partial("_SearchResultsPartial")
</div>