@{
    ViewBag.Title = "Vehicles";
}

<h2>Vehicles</h2>

<p>
    @Html.ActionLink("Park Vehicle", "Create")
</p>

<div id="search-form">
    @Html.Action("SearchForm", "Vehicles")
</div>

<div id="search-results">
    @Html.Action("SearchInitial", "Vehicles")
</div>

<script>
    var loadResults = function (url) {
        $('#search-results').load(url, replaceHref);
    };

    var replaceHref = function () {
        $('.partialLoad a').each(function () {
            var $this = $(this);
            var href = $this.attr('href');

            $this.prop('href', "#");
            $(this).click(function () {
                loadResults(href);
            });
        })
    };

    $(function () {
        replaceHref();
    });
</script>