@model WebGarage.Models.Vehicle

@{
    ViewBag.Title = "CheckoutVehicle";
}
<h4>Search For Your Vehicle</h4>
@using (Ajax.BeginForm("CheckoutVehicle",
                            new AjaxOptions
                            {
                                HttpMethod = "get",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "searchResult"
                            }))
{
    <input type="search" name="searchTerm" />
    <input type="submit" value="Search by Name" />
}
<div id="searchResult">
   
</div>
@Html.Partial("_SearchResult", Model)

@section Scripts {
    @Scripts.Render("~/bundles/ajax")
}