@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Additional information.</p>

The neigborhood is made up of a great cross section of businesses, both large and small. In addition, there is a small residential community that is served by the garage as well, mostly made up of middle income and senior housing.
