@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Garage </h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p>@Html.ActionLink("Garage", "Index", "Vehicles", new object { },new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Park Vehicle</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p>@Html.ActionLink("ParkVehicle", "ParkVehicle", "Customer", new object { }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Checkout Vehicle</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p>@Html.ActionLink("CheckoutVehicle", "CheckoutVehicle", "Customer", new object { }, new { @class = "btn btn-default" })</p>
    </div>
</div>